body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

form {
    background: #fff;
    padding: 15px;
    width: 300px;
    margin-bottom: 30px;
}

input, select, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

table {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
